<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/nav.ejs') %>

    <main class="container mt-6">
        <h1 class="title">Cart Page</h1>

        <% if(products.length > 0) { %>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Quantity </th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
            <tbody>
                <% for(let product of products) { %>
                <tr>
                    <td>
                        <figure class="image is-4by3">
                            <img src="<%= product.productId.imageUrl%>">
                          </figure>
                    </td>
                    <td><%= product.productId.title%></p></td>
                    <td><p class="subtitle is-6"><%= product.quantity %></p> </td>
                    <td>$<%= product.productId.price %></p></td>
                    <td class="has-text-right">
                        <form action="/cart-delete-item" method="POST">
                            <!-- product.id >>> either that or product._id does work!  product.id works is because 'the hidden cursor object' -->
                            <input type="hidden" name="productId" value="<%= product.id %>" /> 
                            <button class="button is-danger is-light" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } %>
                <tr><td colspan="5" class="has-text-right"><h2 class="subtitle mt-6">Total Price: $<%= totalPrice  %> </h2></td></tr>
            </tbody>
        </table>
        <% } else { %>
            <h1 class="title">No Cart Items Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>