<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container">
        <h1>
            <%= product.title %>
        </h1>
        <div class="block">
            <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <div class="block">
            <h3><%= product.price %></h3>
            <p>
                <%= product.description %>
            </p>
        </div>
    </main>

<%- include('../includes/end.ejs') %>